body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
form, #reviewForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#service-providers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w3-card-4 {
    flex: 1 0 300px; /* Adjust the width as needed */
    margin-bottom: 10px;
}

.w3-col s12 m6 l3 {
    display: none!important;
}
a:hover {
    color: #CD212A!important;
}

label {
    width: 100px;
    display: inline-block;
    text-align: left;
    padding-right: 10px;
}
input[type="text"],
textarea {
    width: 300px;
}

.w3-button:hover {

    background-color:#008C45!important;
}

#go-home a:hover {
    color: white!important;
}

#login-form {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#login-form h2 {
    margin-top: 0;
}

#login-form label {
    display: block;
    text-align: left;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: #008C45;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: inline-block;
    vertical-align: top;
}

button:hover {
    background-color: #CD212A;
}

.hovered {
    color: white;
    background-color: #CD212A; /* Change the background color when hovered */
    /* Add any other desired styles */
}

#reviewList {
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

service-provider-form {
    margin-left: 10px;
    margin-right: 10px;
}

#menu a:hover {
    color: white!important;
}
#menu a {
    text-decoration: none;
    margin-right: 5px;
}

#go-home {
    text-decoration: none!important;
}


.radio-group {
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 3px; /* Adjust the margin value as needed */
}