body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
form, #reviewForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a:hover {
    color: #CD212A!important;
}

label {
    width: 100px;
    display: inline-block;
    text-align: left;
    padding-right: 10px;
}
input[type="text"],
textarea {
    width: 300px;
}

.w3-button:hover {
    background-color:#008C45!important;
}

#go-home:hover {
    color: #CD212A!important;;
}

