<!DOCTYPE html>
<html>
<head>
    <title >Italian Citizenship Reviews</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-large w3-animate-left" style="display: none; z-index: 2; width: 40%; min-width: 300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
    <a href="/user/dashboard/" onclick="w3_close()" class="w3-bar-item w3-button">User Dashboard</a>
    <a href="/service-provider/all" onclick="w3_close()" class="w3-bar-item w3-button">All Service Providers</a>
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>

</nav>


<div class="w3-top" style="background-color: #008C45">
    <div class="w3-xlarge" style="max-width:1200px;margin:auto;">
        <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()" id="mobileMenuIcon">☰</div>
        <style>
            @media (min-width: 500px) {
                #mobileMenuIcon {
                    display: none;
                }
            }
            @media (max-width: 500px) {
                #go-home {
                    display: none;
                }
                #menu {
                    display: none;
                }
            }
        </style>
        <div id="menu" class="w3-bar-item w3-button w3-right" style="font-size: medium;background-color: #008C45">
            <a href="/user/dashboard/" >Dashboard</a>
            <a href="/service-provider/all">All providers</a>
            <a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">Logout</a>
            <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" href="/login"> Login</a>
        </div>
        <div class="w3-bar-item w3-button w3-center" id="go-home"><a href="/">Italian Citizenship Review</a></div>
    </div>
</div>
<div style="margin-left: 10px">
    <h2 style="margin-top: 80px">Service Provider Reviews</h2>
    <h4>Can't find your Italian Citizenship Service Provider? Add it <a href="/service-provider">here </a></h4>
</div>
    <div th:each="serviceProvider, stat : ${serviceProviders}" th:id="${stat.index}">
        <div style="border-style: solid; margin-left: 10px; margin-right: 10px; margin-bottom: 10px">
            <div>
                <div class="service-provider" style="margin-left: 10px">
                    <input type="hidden" th:id="'serviceProvider-' + ${stat.index}" th:value="${serviceProvider.serviceProviderId}" />
                    <h2><a th:href="@{/service-provider/{serviceProviderId}(serviceProviderId=${serviceProvider.serviceProviderId})}">[[${serviceProvider.name}]]</a></h2>
                    <p th:text="${serviceProvider.description}"></p>
                    <p class="rating" th:text="${serviceProvider.avgRating}"></p>
                    <h3>Reviews</h3>
                    </div>
                        <div th:if="${serviceProvider.reviews.size() != 0}" id="reviewList" style="border-style: solid;">
                            <ul>
                                <li th:each="review : ${serviceProvider.reviews}">
                                    <p><b><span th:text="${review.title}"></span></b></p>
                                    <p><span th:text="${review.content}"></span></p>
                                    <p class="rating" th:text="${review.rating}"><b></b></p>
                                    <form th:action="@{'/review/' + ${review.reviewId}}" method="post">
                                        <button th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" type="submit">Delete review</button>
                                    </form>
                                </li>
                            </ul>

                        </div>
                        <div th:unless="${serviceProvider.reviews.size() > 0}">
                            <p><b><em>No reviews available.</em></b></p>
                        </div>
                    </div>
                    <!- this will need to be changed! -->
                <div style="margin-left: 10px">
                    <div th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">
                        <form id="reviewForm">
                            <br>
                            <label>Title:</label>
                            <input type="text" th:id="'title-' + ${stat.index}" name="title" value="Give a brief title of your experience"><br>
                            <label >Review</label>
                            <textarea th:id="'content-' + ${stat.index}" name="content"></textarea><br>
                            <label>Rating:</label>
                            <select th:id="'rating-' + ${stat.index}" name="rating">
                                <option value="1">1</option>å
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>

                                <button type="submit" onclick="createReview(event)" th:data-index="${stat.index}" style="margin-top: 10px">Add Review</button>
                        </form>
                        <br>
                    </div>

                    <div th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">
                        <b><a href="/login">Login</a> to leave a review!</b>
                    </div>
                    </div>
                </div>
        </div>
    </div>
<br>
    <h3 style="margin-left: 10px">Can't find your Italian Citizenship Service Provider?</h3>
    <form action="/service-provider" method="get" id="add-service-provider" style="margin-left: 20px">
        <button type="submit">Add a service provider</button>
    </form>
<!-- Footer -->
<footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>

    <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">

                <span class="w3-large">Lorem</span><br>
                <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
            </li>
        </ul>
    </div>

    <div class="w3-third w3-serif">
        <h3>POPULAR TAGS</h3>
        <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Citizenship</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Genealogy</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Become Italian</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dual Citizenship</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Heritage</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Jure Sanguinis</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">EU Passport</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Citizenship by blood</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">EU Citizenship</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Citizenship Service Providers</span>
        </p>
    </div>
</footer>
<script src="/js/directory.js"></script>
<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
    startStarConversion(ratingElements);
</script>
</body>
</html>
