<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Italian Citizenship Reviews</title>
    <link rel="stylesheet" href="src/main/resources/static/css">
</head>
<body>
<header>
    <h1>Welcome to Italian Citizenship Reviews</h1>
</header>
<h2>Service Provider Reviews</h2>
<form action="/service-provider" method="get">
    <button type="submit">Add a service provider</button>
</form>


<div th:each="serviceProvider : ${serviceProviders}">
    <div class="service-provider">
        <h2 th:text="${serviceProvider.name}"></h2>
        <p th:text="${serviceProvider.description}"></p>

    </div>
</div>
</body>
</html>
