<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Italiana:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <title>Italian Citizenship Reviews</title>
</head>
<main>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close" id="mobile-close">
                <span class="fa fa-arrow-right js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


<!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="site-logo col-3 pt-3 "><a id="title-anchor" href="/">Italian Citizenship Reviews</a>

                </div>
                <nav class="site-navigation flex-md-row">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a class="" href="about.html"><b>About</b></a></li>
                        <li class="has-children">
                            <a href="/service-provider/all" ><b> Services </b> </a>
                            <ul class="dropdown">
                                <li><a href="">Translation Service</a></li>
                                <li><a href="">Application Assistance</a></li>
                                <li><a href="">Genealogical Research</a></li>
                                <li><a href="">Legal Guidance</a></li>
                                <li><a href="">Full Service</a></li>
                            </ul>
                        </li>
                        <li><a href="#benefits"><b>Benefits</b></a></li>
                        <li class="d-md-none"><a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                            <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" href="/login"> Login</a></li>
                    </ul>
                </nav>
                <div class="right-cta-menu text-right d-flex align-items-right col-3">
                    <div class="ml-auto">
                        <a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                            <span class="mr-2 icon-lock_outline" style="align:right"></span>
                            Log Out
                        </a>
                        <a th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" href="/user/dashboard/admin/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <a th:if="${#vars.request.isUserInRole('ROLE_USER')}" href="/user/dashboard/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                            <i class="fas fa-user-circle"></i>
                        </a>


                        <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block" href="/login">
                            Login
                        </a>
                    </div>

                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block mt-lg-2 ml-3"><span
                            class="fa fa-bars h3 m-0 p-0 mt-2" id="hamburger"></span></a>
                </div>
            </div>
        </div>
    </header>
    <section id="hero">
        <div class="hero" style="background-image: url('/images/italy.jpg');">
            <div class="hero-content">
                <h1 class="hero-headline">Find top-rated pros for becoming an Italian citizen.</h1>
            </div>
        </div>
    </section>
    <section class="pt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h1 style="font-family: Italiana; text-align: center; margin-top: 20px; color: #1e7e34 ">Find the best Italian Citizenship Service Providers</h1>
                    <div class="mb-4">
                        <h5><b>Experience A Seamless Journey to Italian Citizenship</b></h5>
                        <p>
                            Our goal is to provide transparency in the complicated process of becoming an Italian citizen by connecting you with the best in the business service providers.                        </p>
                        </p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary btn-lg me-3">Register Now</a>
                        <a href="#qualify" class="btn btn-outline-primary btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
    <section id="services" style="color: #000; background-color: #f3f2f2;">
        <div class="pt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center ">
                    <h1 class="fw-bold mb-4" id="header">Highest-Rated Service Providers</h1>
                </div>
            </div>

            <div class="row text-center mx-2 justify-content-center" id="service-providers">
                <div class="col-md-4 mb-4 mb-md-1">
                    <div class="card" id="card-1">
                        <div class="card-body py-4 mt-2">
                            <h2 class="d-flex justify-content-center mb-4 font-weight-bold" style="font-family: Italiana">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" class="rounded-circle shadow-1-strong" width="100" height="100" />
                            </h2>
                            <h5 >Teresa May</h5>
                            <h5 class=" rating">Founder at ET Company</h5>
                            <ul class="list-unstyled d-flex justify-content-center ">
                            </ul>
                            <p class="mb-2"><i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
                            <a class="read-more"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card" id="card-2">
                        <div class="card-body py-4 mt-2">
                            <h2 class="d-flex justify-content-center mb-4 font-weight-bold" style="font-family: Italiana">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" class="rounded-circle shadow-1-strong" width="100" height="100" />
                            </h2>
                            <h5 >Teresa May</h5>
                            <h5 class="font-weight-bold my-3 rating">Founder at ET Company</h5>
                            <ul class="list-unstyled d-flex justify-content-center ">
                            </ul>
                            <p class="mb-2"><i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
                            <a class="read-more"></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="card " id="card-3">
                        <div class="card-body py-4 mt-2">
                            <h2 class="d-flex justify-content-center mb-4 font-weight-bold" style="font-family: Italiana">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" class="rounded-circle shadow-1-strong" width="100" height="100" />
                            </h2>
                            <h5 >Teresa May</h5>
                            <h5 class="font-weight-bold my-3 rating">Founder at ET Company</h5>
                            <ul class="list-unstyled d-flex justify-content-center ">
                            </ul>
                            <p class="mb-2"><i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
                            <a class="read-more"></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3"> <!-- Added container for centering the button -->
                <button id="load-more-button" class="btn btn-primary btn-lg me-3 mb-3 ">Load More</button>
            </div>

        </div>
    </section>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <section id="services2" class="current">
        <div class="services-top">
            <div class="container bootstrap snippets bootdey">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900; font-family: Italiana">Services</h2>
                        <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                        <div class="services-list" >
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-magic highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Legal Guidance</div>
                                            <div class="info">Blah blah</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-code highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Translation</div>
                                            <div class="info">Quality code that lasts</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-pencil highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Document Authorization</div>
                                            <div class="info">Words that tell your story</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-bullhorn highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Full-service</div>
                                            <div class="info">Start to finish</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Genealogical Research</div>
                                            <div class="info">blaaaaah</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-umbrella highlight"></div>
                                        <div class="text-block">
                                            <div class="name">Application Assistance</div>
                                            <div class="info">Get your own work checked by the professionals</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="qualify" >

        <div class=" work-process hero pb-5" style="background-image: url('/images/italy.jpg');  height: fit-content">
            <div class="mx-5" >
                <div class="px-4">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-md-10 col-xl-8 text-center">
                            <h1 class="process-box " style="color: #1e7e34; font-family: Italiana" >How to become an Italian Citizen in 3 steps</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mb-5 d-flex">
                <div class="col-2"></div>
                <div class="col-8">
                </div>
                <div class="col-1"></div>
            </div>
            <!-- ============ step 1 =========== -->
            <div class="row " >
                <div class="col-md-6 " >
                    <div class="process-box process-left mx-4" data-aos="fade-right" data-aos-duration="1000"
                         style="margin-left: 20px">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step">
                                    <p class="m-0 p-0">Step</p>
                                    <h2 class="m-0 p-0">1</h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>QUALIFY</h5>
                                <p><small>Determine if you qualify for Italian citizenship.</small></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
            <!-- ============ step 2 =========== -->
            <div class="row">

                <div class="col-md-4">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="process-box process-right mx-4" data-aos="fade-left" data-aos-duration="1000"
                         style="margin-right: 20px">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step">
                                    <p class="m-0 p-0">Step</p>
                                    <h2 class="m-0 p-0">2</h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>DOCUMENTS</h5>
                                <p><small>Collect, translate, Apostille, notarize all documents and records. </small></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- ============ step 3 =========== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="process-box process-left mx-4" data-aos="fade-right" data-aos-duration="1000"
                         style="margin-left: 20px">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step">
                                    <p class="m-0 p-0">Step</p>
                                    <h2 class="m-0 p-0">3</h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>APPLY</h5>
                                <p><small>Verify all records and submit your application
                                    either in Italy or your corresponding Italian consulate. </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <script>
                AOS.init();
            </script>
            <div>

                <div class="mx-4 pt-5 ">
                    <div class="card px-5" style="background-color: #f3f2f2;">
                        <h1 style="font-family: Italiana; text-align: center; margin-top: 20px; color: #1e7e34 ">Do I
                            qualify? </h1>

                        <h4>Select the relationship between you and your Italian Ancestor born in Italy and learn if you
                            qualify
                        </h4>
                        <div class="select-wrapper pb-4">
                            <select name="qualify-options" class="qualify-block__select-options" id="qualify-options" size="auto">
                                <option value="">- Select -</option>
                                <option value="0">1. Father</option>
                                <option value="1">2. Father – Grandfather</option>
                                <option value="2">3. Father – Grandfather – Great Grandfather</option>
                                <option value="3">4. Father – Grandfather – Great Grandmother</option>
                                <option value="4">5. Father – Grandfather – Great Grandfather – Great Great
                                    Grandfather
                                </option>
                                <option value="5">6. Father – Grandfather – Great Grandfather – Great Great
                                    Grandmother
                                </option>
                                <option value="6">7. Father – Grandmother</option>
                                <option value="7">8. Father – Grandmother – Great Grandfather</option>
                                <option value="8">9. Father – Grandmother – Great Grandmother</option>
                                <option value="9">10. Father – Grandmother – Great Grandfather – Great Great Grandfather
                                </option>
                                <option value="10">11. Father – Grandmother – Great Grandfather – Great Great
                                    Grandmother
                                </option>
                                <option value="11">12. Mother</option>
                                <option value="12">13. Mother – Grandfather</option>
                                <option value="13">14. Mother – Grandfather – Great Grandfather</option>
                                <option value="14">15. Mother – Grandfather – Great Grandmother</option>
                                <option value="15">16. Mother – Grandfather – Great Grandfather – Great Great
                                    Grandfather
                                </option>
                                <option value="16">17. Mother – Grandfather – Great Grandfather – Great Great
                                    Grandmother
                                </option>
                                <option value="17">18. Mother – Grandmother</option>
                                <option value="18">19. Mother – Grandmother – Great Grandfather</option>
                                <option value="19">20. Mother – Grandmother – Great Grandmother</option>
                                <option value="20">21. Mother – Grandmother – Great Grandfather – Great Great
                                    Grandfather
                                </option>
                                <option value="21">22. Mother – Grandmother – Great Grandfather – Great Great
                                    Grandmother
                                </option>
                            </select>
                        </div>
                        <p class="qualify-block__disclaimer">* For each category all conditions must be met.</p>
                        <div class="qualify-block__description qualify-description qualify-description-0">Your father
                            was an
                            Italian
                            citizen
                            at the time of your birth (i.e., he did not become a US citizen before your birth), and you
                            never
                            renounced your
                            right to Italian citizenship. If your father became a US Citizen after August 15, 1992, he
                            did not
                            lose
                            his
                            Italian Citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-1">Your father
                            was born
                            in
                            your
                            native country, your paternal grandfather was an Italian citizen at the time of your father&#039;s
                            birth
                            (i.e.,
                            he did not become a US citizen before the birth of your father; or before July 1, 1912*),
                            and
                            neither
                            you nor
                            your father ever renounced your right to Italian citizenship. If your grandfather became a
                            US
                            Citizen
                            after
                            August 15, 1992, he did not lose his Italian Citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-2">Your paternal
                            grandfather
                            was born
                            in your native country, your paternal great grandfather was an Italian citizen at the time
                            of your
                            paternal
                            grandfather’s birth (i.e., he did not become a US citizen before the birth of your paternal
                            grandfather;
                            or
                            before July 1, 1912*), and neither you nor your father nor your grandfather ever renounced
                            your
                            right to
                            Italian
                            citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-3">Your paternal
                            great-grandmother
                            was an Italian citizen at the time of your paternal grandfather’s birth (i.e., she did not
                            become a
                            US
                            citizen
                            before the birth of your paternal grandfather; or before July 1, 1912*), your paternal
                            grandfather
                            was
                            born
                            after January 1, 1948** in your native country, and neither you nor your father nor your
                            grandfather
                            ever
                            renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-4">Your paternal
                            great-grandfather
                            was born in your native country, your paternal great-great-grandfather was an Italian
                            citizen at the
                            time of
                            your paternal great-grandfather’s birth (i.e., he did not become a US citizen before the
                            birth of
                            your
                            paternal
                            great-grandfather; or before July 1, 1912*), and neither you nor your father nor your
                            paternal
                            grandfather nor
                            your paternal great-grandfather ever renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-5">Your paternal
                            great-great-grandmother was an Italian citizen at the time of your great-grandfather’s birth
                            (i.e.,
                            she
                            did not
                            become a US citizen before his birth; or before July 1, 1912*), your paternal
                            great-grandfather was
                            born
                            after
                            January 1, 1948** in your native country, and neither you nor your father nor your paternal
                            grandfather
                            nor your
                            paternal great-grandfather ever renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-6">Your paternal
                            grandmother
                            was an
                            Italian citizen at the time of your father&#039;s birth (i.e., she did not become a US
                            citizen
                            before
                            the birth
                            of your grandfather; or before July 1, 1912*), your father was born after January 1, 1948**
                            in your
                            native
                            country, and neither you nor your father ever renounced your right to Italian citizenship.
                            If your
                            grandmother
                            became a US Citizen after August 15, 1992, she did not lose his Italian Citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-7">Your paternal
                            grandmother
                            was born
                            in your native country, your paternal great grandfather was an Italian citizen at the time
                            of her
                            birth
                            (i.e.,
                            he did not become a US citizen before the birth of your grandmother; or before July 1,
                            1912*), and
                            your
                            father
                            was born after January 1, 1948** in your native country, and neither you nor your father nor
                            your
                            grandmother
                            ever renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-8">Your paternal
                            great
                            grandmother
                            was an Italian citizen at the time of your grandmother’s birth (i.e., she did not become a
                            US
                            citizen
                            before the
                            birth of your grandmother; or before July 1, 1912*) and your paternal grandmother was born
                            after
                            January
                            1,
                            1948** in your native country, and neither you nor your father nor your grandmother ever
                            renounced
                            your
                            right to
                            Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-9">Your paternal
                            great-grandfather
                            was born in your native country, your paternal great-great-grandfather was an Italian
                            citizen at the
                            time of
                            your paternal great-grandfather’s birth (i.e., he did not become a US citizen before the
                            birth of
                            your
                            great-grandfather; or before July 1, 1912*), your father was born after January 1, 1948** in
                            your
                            native
                            country, and neither you nor your father nor your paternal grandmother nor your paternal
                            great-grandfather ever
                            renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-10">Your paternal
                            great-great-grandmother was an Italian citizen at the time of your paternal
                            great-grandfather’s
                            birth
                            (i.e., she
                            did not become a US citizen before his birth; or before July 1, 1912*), your paternal
                            great-grandfather
                            was born
                            after January 1, 1948** in your native country, and neither you nor your father nor your
                            paternal
                            grandmother
                            nor your paternal great-grandfather ever renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-11">Your mother
                            was an
                            Italian
                            citizen at the time of your birth (i.e., she did not become a US citizen before your birth),
                            and you
                            never
                            renounced your right to Italian citizenship. If your mother became a US Citizen after August
                            15,
                            1992,
                            she did
                            not lose her Italian Citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-12">Your mother
                            was born
                            in
                            your
                            native country, your maternal grandfather was an Italian citizen at the time of her birth
                            (i.e., he
                            did
                            not
                            become a US citizen before the birth of your mother; or before July 1, 1912*), and you were
                            born
                            after
                            January
                            1, 1948**, and neither you nor your mother ever renounced your right to Italian citizenship.
                            If your
                            grandfather
                            became a US Citizen after August 15, 1992, he did not lose his Italian Citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-13">Your maternal
                            grandfather
                            was
                            born in your native country, your maternal great grandfather was an Italian citizen at the
                            time of
                            your
                            maternal
                            grandfather’s birth (i.e., he did not become a US citizen before his birth; or before July
                            1,
                            1912*),
                            you were
                            born after January 1st, 1948**, and neither you nor your mother nor your grandfather ever
                            renounced
                            your
                            right
                            to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-14">Your maternal
                            great
                            grandmother
                            was an Italian citizen at the time of your grandfather’s birth (i.e., she did not become a
                            US
                            citizen
                            before his
                            birth; or before July 1, 1912*), and your maternal grandfather was born after January 1,
                            1948**, in
                            your
                            native
                            country, and neither you nor your mother nor your grandmother ever renounced your right to
                            Italian
                            citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-15">Your maternal
                            great-grandfather
                            was born in your native country, your maternal great-great-grandfather was an Italian
                            citizen at the
                            time of
                            your maternal great grandfather’s birth (i.e., he did not become a US citizen before his
                            birth; or
                            before July
                            1, 1912*), and you were born after January 1st, 1948**, and neither you nor your mother nor
                            your
                            maternal
                            grandfather nor your maternal great-grandfather ever renounced your right to Italian
                            citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-16">Your maternal
                            great-great-grandmother was an Italian citizen at the time of your great-grandfather’s birth
                            (i.e.,
                            she
                            did not
                            become a US citizen before his birth; or before July 1, 1912*) and your maternal
                            great-grandfather
                            was
                            born
                            after January 1, 1948**, in your native country, and neither you nor your mother nor your
                            maternal
                            grandfather
                            nor your maternal great-grandfather ever renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-17">Your maternal
                            grandmother
                            was an
                            Italian citizen at the time of your mother’s birth (i.e., she did not become a US citizen
                            before her
                            birth; or
                            before July 1, 1912*), and your mother was born after January 1st, 1948**, in your native
                            country,
                            and
                            neither
                            you nor your mother ever renounced your right to Italian citizenship. (If your grandmother
                            became a
                            US
                            Citizen
                            after August 15, 1992, she did not lose his Italian Citizenship.)
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-18">Your maternal
                            grandmother
                            was
                            born in your native country, your maternal great grandfather was an Italian citizen at the
                            time of
                            her
                            birth
                            (i.e., he did not become a US citizen before the birth of your grandmother; or before July
                            1,
                            1912*),
                            and your
                            mother was born after January 1st, 1948** in your native country, and neither you nor your
                            mother
                            nor
                            your
                            grandmother ever renounced your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-19">Your maternal
                            great-grandmother
                            was an Italian citizen at the time of our grandmother’s birth (i.e., she did not become a US
                            citizen
                            before the
                            birth of your grandmother; or before July 1, 1912*), your maternal grandmother was born
                            after
                            January 1,
                            1948**
                            in your native country, and neither you nor your mother nor your grandmother ever renounced
                            your
                            right
                            to
                            Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-20">Your maternal
                            great-grandfather
                            was born in your native country, your maternal great-great-grandfather was an Italian
                            citizen at the
                            time of
                            your great-grandfather’s birth (i.e., he did not become a US citizen before the birth of
                            your
                            great-grandfather;
                            or before July 1, 1912*), your grandmother was born after January 1st, 1948** in your native
                            country,
                            and
                            neither you nor your mother nor your maternal grandmother nor your maternal
                            great-grandfather ever
                            renounced
                            your right to Italian citizenship.
                        </div>
                        <div class="qualify-block__description qualify-description qualify-description-21">Your maternal
                            great-great-grandmother was an Italian citizen at the time of your great-grandfather’s birth
                            (i.e.,
                            she
                            did not
                            become a US citizen before the birth of your great-grandfather; or before July 1, 1912*),
                            and your
                            maternal
                            great-grandfather was born after January 1, 1948** in your native country, and neither you
                            nor your
                            mother nor
                            your maternal grandmother nor your maternal great-grandfather ever renounced your right to
                            Italian
                            citizenship.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

        </div>


        <!-- HTML code for the content blocks -->
        <div class="qualify-block__description qualify-description qualify-description-0">Content for option 1</div>
        <!-- rest of the content blocks -->

        <!-- JavaScript code -->
        <script>
            // Get the select element
            var select = document.getElementById("qualify-options");

            // Get all the description elements
            var descriptions = document.querySelectorAll(".qualify-block__description");

            // Hide all descriptions initially
            for (var i = 0; i < descriptions.length; i++) {
                descriptions[i].style.display = "none";
            }

            // Add change event listener to the select element
            select.addEventListener("change", function () {
                // Get the selected option value
                var selectedOption = select.value;

                // Hide all descriptions
                for (var i = 0; i < descriptions.length; i++) {
                    descriptions[i].style.display = "none";
                }

                // Show the description based on the selected option
                if (selectedOption !== "") {
                    var description = document.querySelector(".qualify-description-" + selectedOption);
                    if (description) {
                        description.style.display = "block";
                    }
                }
            });

        </script>
        <script>
            $(document).ready(function () {
                $('#qualify-options').change(function () {
                    var selectedIndex = $(this).val();
                    $('.qualify-block__description').removeClass('active');
                    $('.qualify-description-' + selectedIndex).addClass('active');
                });
            });
        </script>
        </div>
        </div>
        </div>
        </div>
    </section>
    <section id="benefits" class="pt-5" style="color: #000; background-color: #f3f2f2;">
        <div class="container">
            <h1 id="title-benefits" class="w-90 text-center " >Unlock the Benefits of
                Italian Citizenship</h1>
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="mx-auto text-center pt-4">
                        <img src="/images/italian-passport.jpg" class="rounded" alt="...">
                    </div>
                </div>
                <div class="col-lg-6 pt-3">
                    <div class="mb-4">

                        <div>
                            <div id="accordion" class="accordion-style">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="false"
                                                    aria-controls="collapseOne">Rediscover Your Heritage
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                         data-bs-parent="#accordion" style="">
                                        <div class="card-body position-relative pl-3"> Reconnect with your ancestral
                                            heritage and embrace a deep sense of belonging. Immerse in Italy's rich history,
                                            art, and traditions.

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">Unleash Boundless Exploration
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-bs-parent="#accordion">
                                        <div class="card-body position-relative pl-3">
                                            Enjoy seamless travel across the European Union, no borders or limitations.
                                            Embark on unforgettable adventures and discover hidden gems across the
                                            continent. Experience visa-free or visa-on-arrival access to numerous countries
                                            worldwide with one of the worlds strongest passports.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">Access Premier Education and Healthcare
                                                Standards
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-bs-parent="#accordion">
                                        <div class="card-body position-relative pl-3">
                                            Unlock world-class education opportunities in Italy and prestigious European
                                            institutions.
                                            Benefit from high-quality healthcare systems, ensuring your well-being and peace
                                            of mind.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">Enjoy Social Welfare and Retirement
                                                Benefits
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                         data-bs-parent="#accordion">
                                        <div class="card-body position-relative pl-3">
                                            Access comprehensive social welfare programs and retirement benefits.
                                            Ensure a stable and prosperous future for yourself and your loved ones
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">Gain Access to the Thriving European Union
                                                Economy
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                         data-bs-parent="#accordion">
                                        <div class="card-body position-relative pl-3">
                                            Obtain Italian citizenship to unlock the vast opportunities within the European
                                            Union.
                                            Seamlessly conduct business, trade, and investments across EU member states.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



</main>


    <footer class="text-center text-white" style="background-color: #1e7e34">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5">
                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">About us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Products</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Awards</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Help</a>
                        </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Contact</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-5"/>

            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            distinctio earum repellat quaerat voluptatibus placeat nam,
                            commodi optio pariatur est quia magnam eum harum corrupti
                            dicta, aliquam sequi voluptate quas.
                        </p>
                    </div>
                </div>
            </section>
            <!-- Section: Text -->

            <!-- Section: Social -->
            <section class="text-center mb-5">
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
        >
            © 2023 Copyright:

        </div>
    </footer>

    </body>
        <script src="/js/directory.js"></script>
        <script src="/js/landing-page.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</html>