<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Italiana:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/service-provider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <title>Italian Citizenship Reviews</title>
</head>
<!-- NAVBAR -->
<header class="site-navbar m-3">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close" id="mobile-close">
                <span class="fa fa-arrow-right js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-3 pt-3 "><a id="title-anchor" href="/" style="color: #1e7e34">Italian Citizenship
                Reviews</a>

            </div>
            <nav class="site-navigation flex-md-row">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li><a class="" href="about.html"><b>About</b></a></li>
                    <li class="has-children">
                        <a href="/service-provider/all"><b> Services </b> </a>
                        <ul class="dropdown" style="color: white">
                            <li><a href="">Translation Service</a></li>
                            <li><a href="">Application Assistance</a></li>
                            <li><a href="">Genealogical Research</a></li>
                            <li><a href="">Legal Guidance</a></li>
                            <li><a href="">Full Service</a></li>
                        </ul>
                    </li>

                    <li class="d-md-none"><a href="/logout"
                                             th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                        <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}"
                           href="/login"> Login</a></li>
                </ul>
            </nav>
            <div class="right-cta-menu text-right d-flex align-items-right col-3">
                <div class="ml-auto">
                    <a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <span class="mr-2 icon-lock_outline" style="align:right"></span>
                        Log Out
                    </a>
                    <a th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" href="/user/dashboard/admin/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <a th:if="${#vars.request.isUserInRole('ROLE_USER')}" href="/user/dashboard/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <i class="fas fa-user-circle"></i>
                    </a>


                    <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block" href="/login">
                        Login
                    </a>
                </div>

                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block mt-lg-2 ml-3"><span
                        class="fa fa-bars h3 m-0 p-0 mt-2" id="hamburger"></span></a>
            </div>
        </div>
    </div>
</header>
<main>
    <span class="photo-div" ></span>
    <section id="login" class="login-section m-3" >
        <div id="main-wrapper" class="container" style="margin-top: 150px">
            <div class="row justify-content-center">
                <div class="col-l-10">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <div id="login-form" class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-2">
                                            <h3 class="h4 font-weight-bold text-theme">Login</h3>
                                        </div>

                                        <h6 class="h5 mb-0">Welcome back!</h6>
                                        <p class="text-muted mt-2 mb-3">Enter your email address and password leave a review!</p>

                                        <form action="/login" method="post">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input name="username" class="form-control" id="username">
                                                <label for="password">Password</label>
                                                <input type="password" name="password" class="form-control"  id="password">


                                            </div>
                                            <!-- An element to toggle between password visibility -->
                                            <input type="checkbox" onclick="showPassword()">Show Password
                                            <div></div>
                                            <button type="submit" class="btn btn-theme" >Login</button>

                                        </form>
                                        <div class="mt-1">
                                            <p id="alert"></p>
                                        </div>
                                        <div class="d-flex mt-3">
                                            <a class="forgot-link float-left text-primary" onclick="createRegisterSection()">Register</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="account-block rounded-right" style="background-image: url('/images/julia-solonina.jpg');">
                                        <div class=" rounded-right"></div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






</main>
<footer class="text-center text-white" style="background-color: #1e7e34">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">About us</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Products</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Awards</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Help</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Contact</a>
                    </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-5"/>

        <!-- Section: Text -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        distinctio earum repellat quaerat voluptatibus placeat nam,
                        commodi optio pariatur est quia magnam eum harum corrupti
                        dicta, aliquam sequi voluptate quas.
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social -->
        <section class="text-center mb-5">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2023 Copyright:

    </div>
</footer>

<script>

    // Check if the URL contains the "?error" parameter
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('error')) {
    // Display an error message to the user
        var errorMessage = 'Invalid username or password.';
        var alertDiv = document.querySelector('#alert')
        alertDiv.innerHTML = '<p style="color: red">' + errorMessage + '</p>';
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>
