<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>
<form th:action="@{/register}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required/><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required/><br><br>
  <label>Role:</label>
  <input type="radio" id="user" name="role" value="ROLE_USER" checked>
  <label for="user">User</label>
  <input type="radio" id="admin" name="role" value="ROLE_ADMIN">
  <label for="admin">Admin</label>
  <br><br>
  <button type="submit">Register</button>
</form>
</body>
</html>
