<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Italiana:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/service-provider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <title>Italian Citizenship Reviews</title>
</head>

<!-- NAVBAR -->
<header class="site-navbar m-3" >
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close" id="mobile-close">
                <span class="fa fa-arrow-right js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="container-fluid " >
        <div class="row align-items-center">
            <div class="site-logo col-3 pt-3 "><a id="title-anchor" href="/" style="color: #1e7e34">Italian Citizenship Reviews</a>

            </div>
            <nav class="site-navigation flex-md-row">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li id="dashboard-button" class="d-md-none">
                        <a th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" href="/user/dashboard/admin/" class="btn btn-primary border-width-2 ">Admin Dashboard

                        </a>
                        <a th:if="${#vars.request.isUserInRole('ROLE_USER')}" href="/user/dashboard/" class="btn btn-primary border-width-2 ">Dashboard
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                    <li><a class="" href="about.html"><b>About</b></a></li>
                    <li class="has-children">
                        <a href="/service-provider/all" ><b> Services </b> </a>
                        <ul class="dropdown">
                            <li><a href="">Translation Service</a></li>
                            <li><a href="">Application Assistance</a></li>
                            <li><a href="">Genealogical Research</a></li>
                            <li><a href="">Legal Guidance</a></li>
                            <li><a href="">Full Service</a></li>
                            <li><a href="">Document Authorization</a></li>
                        </ul>
                    </li>
                    <li class="d-md-none"><a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                        <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" href="/login"> Login</a></li>

                </ul>
            </nav>
            <div class="right-cta-menu text-right d-flex align-items-right col-3">
                <div class="ml-auto">
                    <a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <span class="mr-2 icon-lock_outline" style="align:right"></span>
                        Log Out
                    </a>
                    <a th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" href="/user/dashboard/admin/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <a th:if="${#vars.request.isUserInRole('ROLE_USER')}" href="/user/dashboard/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <i class="fas fa-user-circle"></i>
                    </a>


                    <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block" href="/login">
                        Login
                    </a>
                </div>

                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block mt-lg-2 ml-3"><span
                        class="fa fa-bars h3 m-0 p-0 mt-2" id="hamburger"></span></a>
            </div>
        </div>
    </div>
    <style>
        .sticky-header {
            position: sticky;
            top: 0;
            z-index: 100;
        }
    </style>
</header>
<body >
<div class="bg-light p-2 form-group" style="margin-top: 100px;">

    <form action="/service-provider/register" method="post">
        <br>
        <label>Service Provider Name:</label>
        <input class="form-control" type="text" name="name" value="Ex: ItalyMondo!" required><br>

        <label>Email:</label>
        <input class="form-control" type="email" name="email" required><br>

        <label>Description:</label>
        <textarea class="form-control" name="description" required></textarea><br>

        <label>Company Logo URL:</label>
        <input class="form-control" type="url" name="logoUrl" placeholder="Enter the URL of the company logo" required>

        <label>Price Range (Estimate):</label>
        <div>
            <label for="lowestEstimate">Lowest Estimate:</label>
            <input class="form-control" id="lowestEstimate" type="number" name="lowestEstimate" placeholder="Enter the lowest estimate" required>
        </div>
        <div>
            <label for="highestEstimate">Highest Estimate:</label>
            <input class="form-control" id="highestEstimate" type="number" name="highestEstimate" placeholder="Enter the highest estimate" required>
        </div>

        <label>Services:</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="services" id="translationService" value="Translation Service">
            <label class="form-check-label" for="translationService">Translation Service</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="services" id="applicationAssistance" value="Application Assistance">
            <label class="form-check-label" for="applicationAssistance">Application Assistance</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="services" id="genealogicalResearch" value="Genealogical Research">
            <label class="form-check-label" for="genealogicalResearch">Genealogical Research</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="services" id="legalGuidance" value="Legal Guidance">
            <label class="form-check-label" for="legalGuidance">Legal Guidance</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="services" id="documentAuthorization" value="Document Authorization">
            <label class="form-check-label" for="legalGuidance">Document Authorization
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="services" id="fullService" value="Full Service">
            <label class="form-check-label" for="fullService">Full Service</label>
        </div>
        <!-- Add more fields as needed -->

        <button style="margin-top: 10px" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>


<script>
    AOS.init();
</script>
</body>

<footer class="text-center text-white" style="background-color: #1e7e34">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">About us</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Products</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Awards</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Help</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Contact</a>
                    </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-5"/>

        <!-- Section: Text -->
        <section class="mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        distinctio earum repellat quaerat voluptatibus placeat nam,
                        commodi optio pariatur est quia magnam eum harum corrupti
                        dicta, aliquam sequi voluptate quas.
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social -->
        <section class="text-center mb-3">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2023 Copyright:

    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/main.js"></script>
<script src="/js/directory.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>