<!DOCTYPE html>
<html>
<head>

    <title>Italian Citizenship Reviews</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-bar-item w3-button">Close Menu</a>
    <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button">Login</a>
    <a href="/user/dashboard/" onclick="w3_close()" class="w3-bar-item w3-button">Dashboard</a>
    <a href="/service-provider/all" onclick="w3_close()" class="w3-bar-item w3-button">View all Service Providers </a>
</nav>

<!-- Top menu -->
<div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1200px; margin:auto">
        <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
        <div class="w3-right w3-padding-16" style="margin-right: 10px">Contact</div>
        <div class="w3-center w3-padding-16" id="go-home"><a href="/">Italian Citizenship Review</a></div>

    </div>
</div>
    <div class="service-provider-container" style="max-width:1200px;margin-top:100px;margin-left: 10px">
        <div th:if="${serviceProvider.name != null}">
            <form th:action="@{/service-provider/{serviceProviderId}(serviceProviderId=${serviceProvider.serviceProviderId})}" method="post">
                <h3><b>Service Provider: </b><span th:text="${serviceProvider.name}"></span></h3>
                <h5><b>Description: </b><span th:text="${serviceProvider.description}"></span></h5>

                <p class="rating" th:text="${serviceProvider.avgRating}"> </p>
                <div th:if="${serviceProvider.reviews.size() != 0}" id="reviewList" style="border-style: solid ">
                    <ul>
                        <li th:each="review : ${serviceProvider.reviews}">
                            <p><b><span th:text="${review.title}"></span></b></p>
                            <p><span th:text="${review.content}"></span></p>

                            <p class="rating"  th:text="${review.rating}"></p>
                        </li>
                    </ul>

                </div>
                <div th:unless="${serviceProvider.reviews.size() > 0}">
                    <p><b><em>No reviews available.</em></b></p>
                </div>
            </form>
        </div>
        <div th:if="${serviceProvider.name == null}">
            <h1>Add a Service Provider</h1>
            <form action="/service-provider" method="post">
                <label for="edit-name">Name: </label><br><br>
                <input type="text" id="edit-name" name="name" required/><br><br>
                <label for="edit-description">Description: </span></label><br><br>
                <textarea name="description" id="edit-description" required style="font-family: Arial, sans-serif;"></textarea><br><br>
                <button type="submit">Update Service Provider</button>
            </form>
        </div>
    </div>
<!-- Footer -->
<footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    </div>

    <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">

                <span class="w3-large">Lorem</span><br>
                <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
            </li>
        </ul>
    </div>

    <div class="w3-third w3-serif">
        <h3>POPULAR TAGS</h3>
        <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Citizenship</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Genealogy</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Become Italian</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dual Citizenship</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Heritage</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Jure Sanguinis</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">EU Passport</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Citizenship by blood</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">EU Citizenship</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Italian Citizenship Service Providers</span>
        </p>
    </div>
</footer>
<script src="/js/directory.js"></script>
<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>