<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Italiana:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/service-provider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.png">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <title style="color: #1c7430">Italian Citizenship Review</title>
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close" id="mobile-close">
            <span class="fa fa-arrow-right js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->
<!-- NAVBAR -->
<header class="site-navbar mt-3">
    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="site-logo d-flex col-3 pt-3 ">
                <a href="/"><img src="/images/logo.png" class="p-2" style="max-width: 100px;"/></a>

                <a id="title-anchor" href="/" style="color: #1c7430"> Italian Citizenship Review</a>

            </div>
            <nav class="site-navigation flex-md-row">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li id="dashboard-button" class="d-md-none">
                        <a th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" href="/user/dashboard/admin/" class="btn btn-primary border-width-2 ">Admin Dashboard

                        </a>
                        <a th:if="${#vars.request.isUserInRole('ROLE_USER')}" href="/user/dashboard/" class="btn btn-primary border-width-2 ">Dashboard
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>

                    <li class="has-children">
                        <a href="/service-provider/all" ><b> Services </b> </a>
                        <ul class="dropdown">
                            <li><a href="/service-provider/filter/service/Translation Service">Translation Service</a></li>
                            <li><a href="/service-provider/filter/service/Application Assistance">Application Assistance</a></li>
                            <li><a href="/service-provider/filter/service/Genealogical Research">Genealogical Research</a></li>
                            <li><a href="/service-provider/filter/service/Legal Guidance">Legal Guidance</a></li>
                            <li><a href="/service-provider/filter/service/Full Service">Full Service</a></li>
                        </ul>
                    </li>
                    <li class="d-md-none"><a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                        <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" href="/login"> Login</a></li>

                </ul>
            </nav>
            <div class="right-cta-menu text-right d-flex align-items-right col-3">
                <div class="ml-auto">
                    <a href="/logout" th:if="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <span class="mr-2 icon-lock_outline" style="align:right"></span>
                        Log Out
                    </a>
                    <a th:if="${#vars.request.isUserInRole('ROLE_ADMIN')}" href="/user/dashboard/admin/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <a th:if="${#vars.request.isUserInRole('ROLE_USER')}" href="/user/dashboard/" class="btn btn-primary border-width-2 d-none d-md-inline-block">
                        <i class="fas fa-user-circle"></i>
                    </a>


                    <a th:unless="${#vars.request.isUserInRole('ROLE_USER') || #vars.request.isUserInRole('ROLE_ADMIN')}" class="btn btn-primary border-width-2 d-none d-md-inline-block" href="/login">
                        Login
                    </a>
                </div>

                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block mt-lg-2 ml-3"><span
                        class="fa fa-bars h3 m-0 p-0 mt-2" id="hamburger" style="color: white"></span></a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div id="content" style="margin-top: 125px;">
        <div style="margin-top: 100px">

            <div>
                <div class="review-container bg-white border">

                    <div th:unless="${#vars.request.isUserInRole('ROLE_USER')}">
                        <!-- Rest of the code -->
                    </div>

                    <h3 style="font-family: Italiana" class="m-3 ">Reviews</h3>
                    <ul th:each="review, stat: ${reviews}" th:id="${stat.index}">
                        <div class="form-container pb-3">
                            <form th:action="@{/review/edit/{serviceProviderId}(serviceProviderId=${review.serviceProvider.serviceProviderId})}"
                                  method="post" class="service-provider-card m-3 p-3">
                                <h4 th:text="'For: ' + ${review.serviceProvider.name}"></h4>
                                <p th:text="${review.date}"></p>
                                <div class="form-group">
                                    <label for="'title-' + ${stat.index}">Title:</label>
                                    <input type="text" th:id="'title-' + ${stat.index}" name="title"
                                           th:value="${review.title}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="'content-' + ${stat.index}">Review:</label>
                                    <textarea rows="5" cols="25" th:id="'content-' + ${stat.index}" name="content"
                                              class="form-control">[[${review.content}]]</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="'rating-' + ${stat.index}">Rating: <b class="rating">[[${review.rating}]]</b></label>
                                    <select th:id="'rating-' + ${stat.index}" name="rating" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <input type="hidden" name="reviewId" th:value="${review.reviewId}">
                                <input type="hidden" name="userId" th:value="${review.userId}">
                                <button type="submit" class="btn btn-primary">Update Review</button>
                                <button th:action="@{'/review/' + ${review.reviewId}}" method="post"
                                        class="btn btn-primary">Delete review
                                </button>
                            </form>
                        </div>
                    </ul>
                </div>

                <div class="bg-white pb-3 form-container">
                    <h1 class="m-3 p-3" id="add-provider" style="font-family: Italiana">Add a Service Provider</h1>
                    <form th:action="@{/service-provider}" method="post" class="service-provider-card m-3 p-3">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" id="description" name="description" class="form-control" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add Service Provider</button>
                        </div>
                    </form>
                </div>
                <div class="bg-white pb-3 form-container">
                    <h3 class="m-3 p-3">Update User Details</h3>
                    <form th:action="@{/user/update}" method="post" class="service-provider-card m-3 p-3">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <div class="input-group">
                                <input type="text" id="username" name="username" class="form-control"
                                       th:value="${user.username}" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" onclick="editUsername()">Edit</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="bg-white pb-3 form-container">
                    <h3 class="m-3 p-3">Want to delete your account?</h3>
                    <form class="service-provider-card m-3 p-3" method="post"
                          th:action="@{/user/delete/{userId}(userId=${user.userId})}">
                        <button type="submit" style="text-align: end" class="btn btn-primary">Delete Account</button>
                    </form>
                </div>
                <!-- Inside the "div" where user details are displayed -->


            </div>
        </div>
    </div>
</div>

<script>
    AOS.init();
</script>
</body>

<footer class="text-center text-white" style="background-color: #1e7e34">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/" class="text-white">Home</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/login" class="text-white">Login</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/service-provider/all" class="text-white">Services</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#https://conslondra.esteri.it/en/servizi-consolari-e-visti/servizi-per-il-cittadino-straniero/cittadinanza/cittadinanza-per-discendenza/" class="text-white">Help</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="mailto:tony@tonguebit.com" class="text-white">Contact</a></h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-5"/>

        <!-- Section: Text -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <a href="/"><img src="/images/logo.png"  alt="Your Logo" style="max-width: 100px;"/></a>

                    <h5>
                        From Reviews to Recognition: Italian Citizenship Made Easy!
                    </h5>
                </div>
            </div>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social -->
        <section class="text-center mb-5">
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2023 Copyright:
        <p>For inquiries, please contact us at <a href="mailto:tony@tonguebit.com">tony@tonguebit.com</a>.</p>

    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>

<script src="/js/main.js"></script>
<script src="/js/directory.js"></script>

</html>
